#main
	width 100%
	background-color: #369ECB
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position:  center
	background-size: cover
	box-shadow: 0 0 65px 12px rgba(247,246,245,0.17) inset
	padding 0 0 60px
	text-align: center
#header
	position relative
	z-index: 11
	padding 14px 0
	margin-bottom: 80px
#logo
	width 260px
	margin-top: 12px
	float left
.contacts
	float: right
	text-align: right
	display: table
.contact_cell
	display: table-cell
	vertical-align: middle
	a
		display block
		font-size: 16px;
		font-family: "Ubuntu";
		color: rgb(255, 255, 255);
		line-height: 22px;
		letter-spacing: 1.1px;
		&:focus
			color: rgb(255, 255, 255);
			text-decoration: none
		&:hover
			color: rgb(255, 255, 255);
			text-decoration: underline
.contact_cell_no_tels
	padding-left: 36px
.contact_cell_tels
	padding-left: 58px
	background-image url(../img/tel_icon.png)
	background-repeat no-repeat
	background-position: 1px center
	padding-right: 40px
.contact_cell_no_tels
	background-image url(../img/mail_icon.png), url(../img/skype_icon.png)
	background-repeat no-repeat, no-repeat
	background-position: 1px top, 27px bottom
.pre
	font-size: 24px;
	font-family: "IntroBoldAlt", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.2;
.pre_recs
	font-size: 20px
	color rgb(255, 233, 46);
	small
		display block
		margin-bottom: 25px
.main_title
	font-size: 42px;
	font-family: "Intro", sans-serif;
	color: rgb(181, 226, 251);
	line-height: 1.2;
	margin 25px 0 50px
	text-shadow: 0 3px 5px rgba(0,0,0,.45);
.man_subtitle
	font-size: 22px;
	font-family: "IntroBoldAlt", sans-serif;
	color: rgb(255, 233, 46);
	line-height: 1.2;
	text-shadow: 0px 4px 22.32px rgba(1, 51, 76, 0.29);
	span
		display block
		font-size: 20px
		color rgb(255,255,255)
.aut_n_date
	border-radius: 5px
	border 2px solid rgb(255, 255, 255);
	background-color: rgba(1, 71, 107, .7);
	box-shadow: 0px 12px 15.66px 2.34px rgba(0, 0, 0, 0.35);
	width 100%
	max-width: 300px;
	padding 20px 10px
	text-align: center
	margin 0 auto 60px
.aut_n_date_text
	font-size: 20px;
	font-family: "IntroBoldAlt", sans-serif;
	color: rgb(253, 165, 33);
	line-height: 1.35;
	&:first-child
		margin-bottom: 8px
	span
		display block
		font-size: 22px;
		font-family: "Ubuntu", sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.2;