@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	#header
		padding-top: 20px
		margin-bottom: 80px
	.contact_cell a
		font-size: 20px
	.man_subtitle
	.aut_n_date_text
	.mail_section_title
	.what_text
		font-size: 24px
		span
			font-size: 22px
	.button
		font-size: 20px
		max-width 200px
	#main
	#feedback
		padding-bottom: 90px
	#for
	#plan
	#results
	#prices
	#author
	#reveiws
	#videos
		padding 90px 0
	.general_title
	.author_title
	.revs_title
		font-size: 36px
		margin-bottom: 50px
	.for_list
		max-width 850px
		li
			font-size: 22px
	.for_aftertext
	.results_aftertext
		max-width 960px
		font-size: 26px
	.plan_tabs_buttons li
		font-size: 26px
	#plan_tabs
		max-width 980px
	.packets
		padding 30px 40px
		height 671px
	.packet_title
		font-size: 24px
	.lessons_buttons li
	.price_body_title
	.about_title
	.video_title
	.buy_recs_text
		font-size: 22px
	.lesson_title
		font-size: 20px
		margin-bottom: 20px
	.lesson_list li
	.more_button
		font-size: 18px
	.plan_aftertext
		font-size: 22px
		margin-top: 40px
		max-width 900px
	.results_list
		max-width 1100px
		li
			font-size: 22px
			margin-bottom: 20px
			line-height: 1.5
	#prices_container
		max-width 1000px
		padding 60px 40px
	.price_head_title
	.cost
		font-size: 28px
	#footer #conditions, #footer p
		font-size: 16px
	.soc_buttons a i
		width 45px
		height 45px
		line-height 45px
		font-size: 24px
	.price
		padding 30px
		max-width 360px
	.price_head
		padding-bottom: 30px
	.price_body
		padding 30px 0
	.price_footer
		padding-top: 30px
	#videos_tabs
		max-width 850px
	.videos_links li
		margin-bottom: 30px
	.prepayment_button
		max-width 225px
@media screen and (max-width 1199px)
	.about_container
		max-width 50%
@media screen and (max-width 991px)
	.contact_cell_tels
		padding-right: 20px
	.packets
		min-height 602px
	.author_img
		margin 0 25px 0
	#text_revs
		padding 20px 30px
	#reveiws
		padding 60px 0
@media screen and (max-width 767px)
	#header
		margin-bottom: 20px
	#logo
		display block
		width 200px
		float: none
		margin 0 auto 10px
	.contacts
		float: none
		display block
		width 100%
		max-width 433px
		margin 0 auto
	#main
	#feedback
		padding-bottom: 40px
	.main_title
	.aut_n_date
		margin-bottom: 40px
	#for
	#plan
	#results
	#prices
	#author
	#reveiws
	#videos
		padding 40px 0
	.packets
		min-height 1px
	.price
	#vk
		margin-bottom: 25px
	.prepayment
		margin-top: 0
	.author_img
		margin 0 auto 35px
		float: none
	.about_container
		float: none
		max-width 100%
	#text_revs .rev_img
		max-width 100%
		height 200px
	.revs_title
		margin-bottom: 40px
	#text_revs
		padding-bottom: 50px
	.carousel-control
		top auto
		bottom 10px
	.carousel-control.left
		left 15px
	.carousel-control.right
		right 15px
	#footer
		padding 20px 0
@media screen and (max-width 485px)
	.contact_cell
		display block
		width 100%
		max-width 180px
		margin: 0 auto
		a
			font-size: 12px
			line-height: 12px
			text-align: center
			margin-bottom: 7px
	.contact_cell_tels
		padding-right: 0
		background-size: 30px
		max-width: 150px;
		padding-left: 40px;
	.contact_cell_no_tels
		background-size: 16px, 16px
		padding-left: 9px;
		background-position: 1px top, 8px bottom
	#header
		padding-bottom: 0
	#for
	#plan
	#results
	#prices
	#author
	#reveiws
	#videos
		padding 30px 0
	#main
	#feedback
		padding-bottom: 40px
	.pre
	.plan_tabs_buttons li
		font-size: 20px
	.main_title
		font-size: 34px
		margin 15px 0 30px
	.aut_n_date
	#plan_tabs
	#videos_tabs
		margin-bottom: 30px
	.general_title
	.author_title
	.revs_title
		font-size: 24px
		margin-bottom: 30px
	.for_list li
	.results_list li
	.about_list li
		margin-bottom: 10px
	.packets
		padding 15px 20px
	.prepaymant_title
	.timer_title
		font-size: 28px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 25px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.alert-danger
		font-size: 20px
		margin-top: 20px
	#prices_container
		padding 20px 15px
	#text_revs .rev_img
		height 120px
	#text_revs
		padding 15px 15px 50px
	.about_list li
		padding-left: 21px
	#footer h5
		font-size: 20px
	#footer #conditions, #footer p
		font-size: 12px
	.soc_buttons a
		margin 10px 6px
	.pre_recs small
		margin-bottom: 15px
	.general_title_prices	
		line-height: 1.3
		padding 10px
@media screen and (max-width 380px)
	body
		font-size: 16px
	#logo
		width 160px
	.main_title
		font-size: 24px
		margin: 10px 0 20px
	.aut_n_date
		padding 10px
	.pre
		font-size: 18px
	.lessons_buttons li
		margin 0 7px 7px
	#text_revs .rev_img
		height 70px
	.videos_day
		padding 10px