section#for
	.container
		h3.general_title.general_title_for Для кого эта практика: 
		ul.for_list
			li для тех, кто желает научиться изменять свою реальность легко и просто
			li для тех, кто хочет получить эффективный инструмент нового времени, для сотворения любых благоприятных событий в жизни
			li для тех, кто верит, что чудеса в жизни реальны, нужно только уметь их сотворять