section#get
	.container
		.get_container
			h3.general_title.general_title_get Что вы получите от практики:
			ol.get_list
				li Вы научитесь путешествовать к самому себя, в самые лучшие жизненные ситуации, альтернативные реальности и притягивать их в настоящее
				li Вы сможете притянуть свою альтерреальность, где есть изобилие и достаток, здоровье, семья, дети, что угодно, все, что вы жеелаете.
				li Притянуть в свою жизнь здоровье
				li Способности, успех, гармонию и счастье
				li Встретиться и соединиться со своим потенциальным Я, которое решили ту или иную жизненную задачу или проблему, которые стоят перед вами сейчас
			p.price.price_get Стоимость - 
				span 4900р.
			a.button.spof_button_get(href= offer target="_blank") Забрать практику за 499р.!