section#last
	.container
		.last_container
			p.last_text Это очень мощное, насыщенное практиками занятие, полноценные запись которого, в благодарность за подписку, вы можете приобрести по самой низкой цене.
			p.last_text Как Развить в Себе Необходимые Вам Личные Качества, и Добиться Успеха всего за Несколько Недель, Даже Если в Вас до Этого Никто Не Верил.
			h3.last_title ВОСПОЛЬЗОВАТЬСЯ ПРЕДЛОЖЕНИЕМ
			a.button.spof_button_last(href= order target="_blank") Забрать практику!