section#main
	.container
		include header
		h1.main_title.main_title_spof  Поздравляем!
		h2.main_subtitle.main_subtitle_spof  Вы успешно подписались на наш бесплатный  интенсив &laquo;Звездные врата&raquo;, бонус уже вам отправлен на почту и он буквально через несколько минут будет у вас!!!
		h3.main_subtitle.main_subtitle_spof Но, не спешите закрывать страничку, у меня для вас уникальное предложение!
			span СМОТРИТЕ ВИДЕО!
		.row
			.col-md-6.col-sm-6
				.video_wrapper.main_video_wrapper.video_wrapper_spof
					iframe(src="" allowfullscreen)
			.col-md-6.col-sm-6
				.aut_n_date.main_spof_container
					h3.aut_n_date_text.main_spof_container_title ТОЛЬКО ДЛЯ УЧАСТНИКОВ ИНТЕНСИВА
					p.price Стоимость - 
						span 4900р.
					a.button.main_spof_button(href= offer target="_blank") Купить за 499р.!
		p.main_text_spof Запись практики соединения со своим потенциальным будущим Я станет для вас уникальным инструментом, который научит вас перемещаться в прошлое и будущее, менять события так, как нужно именно вам. Кроме этой записи вы так же получите и записи предстоящего бесплатного интенсива, который пройдет 30 и 31 января