section#gives
	.container
		h3.gives_title Что дает работа в Звездных Вратах?
		.row.gives_container
			.col-md-6.col-sm-6
				.single_give
					p.single_give_text.single_give_text_1 Когда к нам прикасается энергия Врат, наши вибрации начинают резонировать с их вибрациями, и становится возможным удивительное пробуждение
					p.single_give_text.single_give_text_2 Когда с ними начинает резонировать наше энергетическое поле, те аспекты нашей ДНК, которые содержат в себе огромные объемы информации, память о прошлом, навыки и умения, но находятся в «спящем» состоянии, начинают пробуждаться
					p.single_give_text.single_give_text_3 Создается возможность для изменений без каких-либо усилий, в соответствии с целью вашей жизни и Высшим Я
			.col-md-6.col-sm-6
				.single_give
					p.single_give_text.single_give_text_4 Изменения происходят легко и просто, в результате намерения, а не усилия
					p.single_give_text.single_give_text_5 На физическое исцеление не требуется времени, оно может происходить моментально
					p.single_give_text.single_give_text_6 Прежнюю жизнь возможно изменить, заменив ее жизнью, наполненной радостью, и с более высокой жизненной целью
					p.single_give_text.single_give_text_7 Ограничивающие вас отношения можно начать заново и обновить или отпустить с легкостью, отдавая честь и уважение тем, кто способствовал вашему обучению и росту
			.clearfix
			h4.gives_aftertitle Все эти изменения происходят во время управляемых медитаций в результате повышения уровня вибраций. Стимулируется пробуждение спящих участков многомерных нитей ДНК, что приводит к росту осознанности и присутствия духовной составляющей в своем «Я»
		button.button.button_gives(data-toggle="modal" data-target="#myModal") Записаться