section#happens
	.container
		.happens_container
			h3.happens_title В пространстве Врат, может происходить:
			ol.happens_list
				li исцеление и гармонизация для физического тела; 
				li ясное понимание озарений для ментального тела; 
				li глубокая релаксация и снятие стрессов для тела ощущений (эмоционального); 
				li освобождение от личной кармы;
				li активизация экстрасенсорных и целительских способностей;
				li восстановление воспоминаний о прошлых жизнях;
				li общение со своими Наставниками, вы можете почувствовать, услышать или даже увидеть их
			h4.happens_aftertitle
				span Самое удивительное для участников 
				| - что эти изменения могут происходить просто оттого, что они находятся в энергетическом поле Звездных Врат. «Делать» для этого ничего не нужно
			button.button.button_happens(data-toggle="modal" data-target="#myModal") Записаться