header#header
	a(href="https://mastervision.su", target="_blank")
		img#logo(src="img/logo.png", alt="Логотип")
	.contacts
		.contact_cell.contact_cell_tels
			a.tel(href="callto:8-929-568-87-50") 8-929-568-87-50
			a.tel(href="callto:8-499-346-79-46") 8-499-346-79-46
		.contact_cell.contact_cell_no_tels
			a.email(href="mailto:info@mastervision.su") info@mastervision.su
			a.skype(href="skype:add?admin-mastervision") admin-mastervision