section#plan
	.container
		h3.plan_title План интенсива:
		.row.plan_row
			.col-md-6.col-sm-6
				.plan_day
					h4.plan_day_title День 1
					ul.plan_day_list
						li Знакомство с энергиями Звездных Врат
						li Взаимодействие с Ангельскими уровнями сознания
						li Взаимодействие с Наставниками и Учителями в структуре Звездных Врат
						li Работа с радужными Сферами Любви
			.col-md-6.col-sm-6
				.plan_day
					h4.plan_day_title День 2
					ul.plan_day_list
						li Знакомство и работа с единорогами (да, они вполне реальны и существуют)
						li Знакомство и взаимодействие с Хаторами (это группа межпространственных межгалактических существ, возникшая за тысячи лет до египетской цивилизации)
						li Звуковые вибрации, способные освободить от тяжелых травмирующих энергий прошлого
		button.button.button_plan(data-toggle="modal" data-target="#myModal") Записаться