section#what
    .container
        .what_container
            .what_img
                img(src="img/what_img.jpg", alt="Звездные врата")
            h3.what_title Что такое 
                span Звездные врата?
            p.what_text Все практики ведутся в Энергии Звездных Врат.
            p.what_text Звездные Врата это - одно из самых эффективных устройств нашего времени, которые способствуют быстрому расширению сознания. Это межпространственный портал.
            p.what_text Знания о Звездных вратах получены путем ченнелинга от Альказара (хранителя и держателя ЗВ) Прагитом Харрисоном (США).