@media screen and (min-width 1400px)
	#main
		background-position: right -20% top 0, center
@media screen and (min-width 1900px)
	#main
		background-position: right -1% top 0 , center
@media screen and (min-width 2200px)
	body
		font-size: 20px
	#main
		background-position: right 25% top 0, center
	.container
		width 1400px
	#header
		margin-bottom: 55px
	.contact_cell a
		font-size: 20px
	.man_subtitle
	.aut_n_date_text
	.mail_section_title
	.what_text
		font-size: 24px
		span
			font-size: 22px
	.aut_n_date
		width: 260px;
		height: 260px;
		padding: 40px 10px;
	.mail_section_titles
		max-width 340px
	.button
		font-size: 20px
		max-width 200px
	.form_newsletter_mail_section
		max-width 465px
	.checking .check_label
		font-size: 14px
	.what_container
	.happens_container
		max-width 1200px
	.plan_day
		height 428px
	.gives_aftertitle
	.about_title
		font-size: 22px
	#footer p
		font-size: 16px
	.button_partners
		max-width 300px