@media screen and (min-width 1400px)
	#main
		background-position: right -20% top 0, center
@media screen and (min-width 1900px)
	#main
		background-position: right -1% top 0 , center
@media screen and (min-width 2200px)
	body
		font-size: 20px
	#main
		background-position: right 25% top 0, center
	.container
		width 1400px
	#header
		margin-bottom: 55px
	.contact_cell a
		font-size: 20px
	.man_subtitle
	.aut_n_date_text
	.mail_section_title
	.what_text
		font-size: 24px
		span
			font-size: 22px
	.aut_n_date
		width: 260px;
		height: 260px;
		padding: 40px 10px;
	.mail_section_titles
		max-width 340px
	.button
		font-size: 20px
		max-width 200px
	.form_newsletter_mail_section
		max-width 465px
	.checking .check_label
		font-size: 14px
	.what_container
	.happens_container
		max-width 1200px
	.plan_day
		height 428px
	.gives_aftertitle
	.about_title
		font-size: 22px
	#footer p
		font-size: 16px
	.button_partners
		max-width 300px
@media screen and (max-width 1199px)
	#main
		background-position 500px 0, center
	.mail_section_titles
		margin-right: 20px
	.happens_container
		padding 50px 25px 60px
	.about_container
		max-width 50%
@media screen and (max-width 991px)
	.contact_cell_tels
		padding-right: 20px
	#main
		background-position: 390px center, center
		background-size: cover, cover
	.form_newsletter_mail_section
		max-width 230px
		margin 10px auto 0
		.mail
			margin: 0 0 10px
		.button_mail
			max-width 230px
	.sub_aut_n_date
		right 9px
	.what_img
		margin 0 25px 25px
	#what
		padding 60px 0 40px
	#happens
		padding 40px 0 65px
	.happens_container
		padding 20px 20px 50px
	#plan
	#gives
	#author
		padding 40px 0
	.plan_day
		height 465px
	.single_give_text
		padding-left: 94px
	.gives_aftertitle
		padding 0 10px
	.author_img
		margin 0 25px 0
	#reveiws
		padding 40px 0 50px
	#text_revs
		padding 20px 30px
	#footer
		padding 20px 0
	.modal-dialog
		width 100%
		max-width 460px
		margin 10px auto
	.modal_form
		max-width 460px
		.mail
		.button_mail
			max-width 230px
			float none
	.checking_modal
		max-width 300px
@media screen and (max-width 767px)
	#header
		margin-bottom: 20px
	#logo
		display block
		width 200px
		float: none
		margin 0 auto 10px
	.contacts
		float: none
		display block
		width 100%
		max-width 433px
		margin 0 auto
	#main
		background-image url(../img/main_bg.jpg)
		background-repeat no-repeat
		background-position: center
		background-size: cover
		padding-bottom: 40px
		text-align: center
	.main_aut_n_date
		display block
		border-radius: 5px
		position: static
		margin 20px auto 0
		max-width 350px
		padding 10px 20px 20px
		width 100%
		height auto
	.sub_aut_n_date
		display: none
	.main_video_wrapper
		margin 30px auto 0
	.mail_section_titles
		float: none
		max-width 100%
		text-align: center
	.mail_section_subtitle
		display: inline-block
	.form_newsletter_mail_section
		float: none
	#what
	.about_title
		text-align: center
	.what_img
		float: none
		width 100%
		max-width 300px
		margin 0 auto 35px
	.plan_day
		max-width 330px
		height auto
		margin-bottom: 20px
	.button_plan
		margin-top: 35px
	.single_give
		margin-bottom: 20px
	.gives_aftertitle
		margin-top: 5px
	.author_img
		margin 0 auto 35px
		float: none
	.about_container
		float: none
		max-width 100%
	#text_revs .rev_img
		max-width 100%
		height 200px
	.gives_title
		line-height: 1.3
		padding 10px
	#text_revs
		padding-bottom: 50px
	.controls
		width: 100%
		overflow: hidden
	.carousel-control
		top auto
		bottom 10px
@media screen and (max-width 485px)
	.contact_cell
		display block
		width 100%
		max-width 180px
		margin: 0 auto
		a
			font-size: 12px
			line-height: 12px
			text-align: center
			margin-bottom: 7px
	.contact_cell_tels
		padding-right: 0
		background-size: 30px
		max-width: 150px;
		padding-left: 40px;
	.contact_cell_no_tels
		background-size: 16px, 16px
		padding-left: 9px;
		background-position: 1px top, 8px bottom
	#header
		padding-bottom: 0
	.pre
	.happens_aftertitle
		font-size: 20px
	.main_title
		font-size: 28px
	.aut_n_date_text
		font-size: 18px
		span
			font-size: 18px
	.what_title
	.happens_title
	.plan_title
	.gives_title
	.author_title
	.revs_title
		font-size: 24px
		margin-bottom: 25px
	.plan_day_title
		font-size: 22px
		&:before
		&:after
			top 8px
	.button_plan
		margin-top: 20px
	#text_revs .rev_img
		height 120px
	#footer p
		font-size: 12px
	.modal-dialog
		max-width 96%