@media screen and (min-width 1400px)
	#main
		background-position: right -20% top 0, center
@media screen and (min-width 1900px)
	#main
		background-position: right -1% top 0 , center
@media screen and (min-width 2200px)
	body
		font-size: 20px
	#main
		background-position: right 25% top 0, center
	.container
		width 1400px
	#header
		margin-bottom: 55px
	.contact_cell a
		font-size: 20px
	.man_subtitle
	.aut_n_date_text
	.mail_section_title
	.what_text
		font-size: 24px
		span
			font-size: 22px
	.aut_n_date
		width: 260px;
		height: 260px;
		padding: 40px 10px;
	.mail_section_titles
		max-width 340px
	.button
		font-size: 20px
		max-width 200px
	.form_newsletter_mail_section
		max-width 465px
	.checking .check_label
		font-size: 14px
	.what_container
	.happens_container
		max-width 1200px
	.plan_day
		height 428px
	.gives_aftertitle
	.about_title
		font-size: 22px
	#footer p
		font-size: 16px
	.button_partners
		max-width 300px
@media screen and (max-width 1199px)
	#main
		background-position 500px 0, center
	.mail_section_titles
		margin-right: 20px
	.happens_container
		padding 50px 25px 60px
	.about_container
		max-width 50%
@media screen and (max-width 991px)
	.contact_cell_tels
		padding-right: 20px
	#main
		background-position: 390px center, center
		background-size: cover, cover
	.form_newsletter_mail_section
		max-width 230px
		margin 10px auto 0
		.mail
			margin: 0 0 10px
		.button_mail
			max-width 230px
	.sub_aut_n_date
		right 9px
	.what_img
		margin 0 25px 25px
	#what
		padding 60px 0 40px
	#happens
		padding 40px 0 65px
	.happens_container
		padding 20px 20px 50px
	#plan
	#gives
	#author
		padding 40px 0
	.plan_day
		height 465px
	.single_give_text
		padding-left: 94px
	.gives_aftertitle
		padding 0 10px
	.author_img
		margin 0 25px 0
	#reveiws
		padding 40px 0 50px
	#text_revs
		padding 20px 30px
	#footer
		padding 20px 0
	.modal-dialog
		width 100%
		max-width 650px
	.modal_form
		max-width 460px
		.mail
		.button_mail
			max-width 230px
			float none
	.checking_modal
		max-width 300px