#reveiws
	width 100%
	padding 78px 0 188px
	background-color: rgb(15,70,116)
	background-image url(../img/revs_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.revs_title
	font-size: 30px;
	color: rgb(255, 233, 46);
	line-height: 1.2;
	text-align: center;
	margin-bottom: 66px
#text_revs
	border-radius: 5px;
	background-color: rgba(1, 71, 107, .671);
	box-shadow: 0px 7px 16.2px 1.8px rgba(0, 0, 0, 0.26);
	width 100%
	max-width: 974px;
	padding 20px 45px
	margin 0 auto
	.rev_img
		height 300px
		width 100%
		max-width 500px
		display block
		margin: 0 auto
		object-fit: contain
.carousel-control
	font-size: 60px
	top calc(50% - 30px)
	color #fff
	opacity 1
	background-color: transparent
	background-image: none
	text-shadow: none
	width: 33px
	height 60px
	line-height 60px
.carousel-control:hover
	color rgb(255,154,0)
	opacity 1
.carousel-control:focus
	color #fff
	opacity 1
.carousel-control.right
.carousel-control.left
	opacity 1
	background-color: transparent
	background-image: none
	text-shadow: none
.carousel-control.left
	left 50px
.carousel-control.right
	right 50px
.carousel-indicators
	position: static
	margin 10px auto 0
	height 12px
	li
		border-color: rgb(255,154,0)
		&.active
			background-color: rgb(255,154,0)