#what
	width 100%
	padding 87px 0
.what_container
	width 100%
	max-width 960px
	margin 0 auto
.what_img
	float left
	position relative
	margin-right: 73px
	img
		position relative
		width: 299px;
		border 2px solid #a3dcf1
		box-shadow: 2px 2px 24px 5px  rgba(#040444, .16)
		z-index 9
	&:before
		content: ''
		display block
		border 3px solid rgb(181, 226, 251);
		border-radius: 50%;
		opacity: 0.55;
		position: absolute;
		width: 274px;
		height: 274px;
		z-index: 7;
		top: -26px;
		left: -28px;
	&:after
		content ''
		display block
		border 3px solid rgb(181, 226, 251);
		border-radius: 50%;
		opacity: 0.58;
		position: absolute;
		width: 28px;
		height: 28px;
		z-index: 8;
		top: 50px;
		left: -36px;
.what_title
	font-size: 30px;
	color: rgb(20, 61, 80);
	line-height: 1.2;
	margin -5px 0 24px
	letter-spacing: 0.4px;
	span
		color #ed9004
.what_text
	font-size: 18px;
	font-family: "UbuntuLight", sans-serif;
	color: rgb(36, 36, 36);
	line-height: 1.222;
	letter-spacing: 0.4px;