#videos
	width 100%
	padding 60px 0
#videos_tabs
	width 100%
	max-width 650px
	margin 0 auto 40px
.videos_links
	text-align: center
	li
		margin 0 15px 15px
		text-align: center
		display: inline-block
		a
			display block
			font-size: 22px
			font-family: 'IntroBlack', sans-serif
			color #143d50
			border: 2px solid #fff
			line-height: 35px
			padding 0 10px
			border-radius: 5px
			transition: all .3s ease
		&.ui-state-active
		&.ui-state-hover
			a
				color #fe9900
				text-shadow: 0 0  1px rgba(0,0,0,.35)
				border-color: #fe9900
				text-decoration: none
				box-shadow: 0 2px 5px rgba(0,0,0,.15)
.videos_day
	padding 20px
	box-shadow: 0px 10px 21.84px 2.16px rgba(0,0,0,0.2)
.video_title
	font-size: 20px
	text-align: center
	margin-bottom: 15px
	font-family: 'UbuntuBold',sans-serif
.videos_text
	margin-top: 10px
	a
		text-decoration: none
		color #0281bc
		&:focus
			text-decoration: none
		&:hover
			text-decoration: underline
.buy_recs_text
	text-align: center
	font-size: 20px
	font-family: 'IntroBoldAlt',sans-serif
	margin-bottom: 20px
#feedback
	padding-bottom: 60px
#vk
#fb
	border-radius: 10px
	box-shadow: 0px 10px 21.84px 2.16px rgba(0,0,0,0.2)