footer#footer
	.container
		.soc_buttons
			h5 Хотите узнать больше? Вступайте в наши группы!
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://www.ok.ru/group/54472921710656" target="_blank")
				i(class="fa fa-odnoklassniki" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
			.clfix
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		a#conditions(href="http://mastervision.su/oferta.docx") Условия возврата денежных средств
link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
.modal.fade(tabindex="-1" role="dialog")#modalBase
	.modal-dialog(role="document")
		.modal-content.mail_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3 Базовый пакет
					ul.modal_list
						li 
							span 1 занятие 
							| - Единороги, Хаторы
						li 
							span 2 занятие 
							| - Ангелы, Наставники, Высшее Я
						li 
							span 3 занятие 
							| - Галактический совет 12-ти, под руководством Аштара – Ларишм Шерана
						li 
							span 4 занятие 
							| - Эмиссары и Мастера света - Плеядеанцы, Андромедианские Архонты
.modal.fade(tabindex="-1" role="dialog")#modalAdvance
	.modal-dialog(role="document")
		.modal-content.mail_modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h3 Продвинутый пакет
					ul.modal_list
						li
							span 5 занятие 
							| - Арктурианцы
						li
							span 6 занятие 
							| - Бонусное - Арктурианцы
						li
							span 7 занятие 
							| - Арктурианцы
						li
							span 8 занятие 
							| - Плеядеанцы
						li
							span 9 занятие 
							| - Лемурийские мастера, Плеядеанские Мастера
						li
							span 10 занятие 
							| - Лемурийцы
						li
							span 11 занятие 
							| - Практические навыки для перемещения во временных капсулах 
						li
							span 12 занятие 
							| - Бонусное - Внеземное воплощение, воплощение  Лемурия, Гиперборея