section#for
	.container
		h3.general_title.general_title_for Этот курс 
			span для тех
			| , кто хочет:
		ul.for_list
			li вновь открыть своё Звёздное происхождение
			li обрести  и открыть новые знания, ранее не существовавшие на Земле
			li вспомнить свои Звёздные Семьи и партнёров.
			li распечатывать глубинную память и своё мастерство
			li кто хочет самостоятельно, без посредников начать собственное взаимодействие и сотрудничество со Звёздными семьями и партнёрами
			li желает получить глубочайшие перетрансформации на клеточном уровне ДНК
			li активировать и расширить собственные знания и способности
		p.for_aftertext Многие Звездные цивилизации совершили переход в своем сознании, и сейчас они готовы оказать помощь и поддержку, раскрыть знания и умения, которые недоступны большинству из нас из-за низких уровней вибрации и потери истинного видения мироустройствая