section#main
	.container
		include header
		.pre Авторский курс Ольги Ревковской
		h1.main_title Откройся своему Звёздному наследию
		.aut_n_date.main_aut_n_date
			p.aut_n_date_text Старт курса:
				span NN февраля, в 19:00 мск
		a.button.button_main(href="#prices") Участвовать