section#plan
	.container
		h3.general_title.general_title_plan План 
			span курса
		#plan_tabs
			ul.plan_tabs_buttons
				li
					a(href="#base") Базовый пакет
				li
					a(href="#advance") Продвинутый пакет
			.packets
				.packet#base
					h4.packet_title Базовый пакет 
						small - 4 занятия
					.lessons
						ul.lessons_buttons
							li
								a(href="#lesson_1") Урок 1
							li
								a(href="#lesson_2") Урок 2
							li
								a(href="#lesson_3") Урок 3
							li
								a(href="#lesson_4") Урок 4
						.lesson#lesson_1
							h5.lesson_title Урок 1 - Единороги, Хаторы
							ul.lesson_list
								li Восстановление поля любви между родителями и детьми.
								li Звуковые вибрации Хаторов скорректируют искаженные поля, чтобы излучать любовь ваших сердец.
								li Единороги своим присутствием и взаимодействием,  увеличат и усилят излучение любви
						.lesson#lesson_2
							h5.lesson_title Урок 2 - Ангелы, Наставники, Высшее Я
							ul.lesson_list
								li Работа с 7-ю чакрами освобождение от эфирных энергий прошлого
								li Высвобождение искаженных, травмированных, темных энергий прошлого, что привлечет глобальные изменения в качестве и улучшении собственной жизни
								li Огромное количество жизненных событий, ранее затрагивающих и подавляющих вас, перестают существовать
						.lesson#lesson_3
							h5.lesson_title Урок 3 - Галактический совет 12-ти, под руководством Аштара – Ларишм Шерана
							ul.lesson_list
								li Аннулирование планетарных контрактов
								li Аннулирование или прекращение планетарных контрактов прошлого, освобождает противоположные стороны от обязательств и договоров, ранее заключённые ими.
								li Происходит обнуление части Галактической кармы
								li Прекратят свои действия: пакты и контракты, связанные с военными действиями между звёздными цивилизациями, порабощения, захватнические рейды, вторжение в разумы и сознания людей, кодирование и имплантирование, внедрение программ в подсознание, изъятие фрагментов ДНК, любое внедрение и встраивание в память
								li Прекращается нарушение личных границ человека
						.lesson#lesson_4
							h5.lesson_title Урок 4 - Эмиссары и Мастера света - Плеядеанцы, Андромедианские Архонты
							ul.lesson_list
								li Освобождение от имплантов  (заглушки, блокираторы, микрочипы, нано- технологические устройства внеземного происхождения, которые блокируют структуры вашего головного мозга, центральную нервную систему, спинномозговую жидкость, чакры, энергетические и электрические каналы), которые искажают световую матрицу, блокируют глубинную память, сверхспособности, интуицию и истинную Духовную Суть.
				.packet#advance
					h4.packet_title Пакет продвинутый 
						small - 12 занятий
					.lessons
						ul.lessons_buttons
							li
								a(href="#lesson_5") Урок 5
							li
								a(href="#lesson_6") Урок 6
							li
								a(href="#lesson_7") Урок 7
							li
								a(href="#lesson_8") Урок 8
							li
								a(href="#lesson_9") Урок 9
							li
								a(href="#lesson_10") Урок 10
							li
								a(href="#lesson_11") Урок 11
							li
								a(href="#lesson_12") Урок 12
						.lesson#lesson_5
							h5.lesson_title Урок 5 - Арктурианцы
							ul.lesson_list
								li Освобождение от сущностей, астральных подпланов, параллельных и альтернативных реальностей
								li Вы обретаете личную свободу от сущностей, которые длительное время оказывали воздействие на вас и все сферы вашей жизни, их встраивание в спинномозговую жидкость и структуры головного мозга, позволяли им управлять процессами вашего мышления, а вследствии этого, и вашими эмоциями
						.lesson#lesson_6
							h5.lesson_title Урок 6 - Бонусное - Арктурианцы
							ul.lesson_list
								li Освобождение чакральной системы от темных кристаллов (расположены в нашей кристаллической матрице, в чакральных центрах, в которых сконцентрированы все тяжелые энергии, связанные с со страхами, драмами и трагедиями, гневом, агрессией, ненавистью, потерей родных и близких, жертвенностью, отречениями)
								li Освобождение своего кристаллического сознания от негативных энергий, что способствует эволюции Вашей Души и ее целостности
						.lesson#lesson_7
							h5.lesson_title Урок 7 - Арктурианцы
							ul.lesson_list
								li Активация Вселенского Цветка жизни в вашей кристаллической структуре, центрирование и выравнивание с космическим и галактическим сознанием.
								li Вам станут доступны вдохновлённые и наполненные творчеством мысли, идеи
								li Ваши потенциальные возможности многогранно раскроются и расширятся
								li Прошлые рамки и границы вашего мышления прекратят своё существование, изменится и расширится нейронная сеть
								li Вы становитесь открыты и восприимчивы к ченнеленговой информации, к взаимодействию, общению и восприятию внеземных знаний
						.lesson#lesson_8
							h5.lesson_title Урок 8 - Плеядеанцы
							ul.lesson_list
								li Выравнивание и гармонизация электромагнитного поля в соответствии с обновлённым и изменённым полем Земли, центрирование вертикальной оси, выравнивание со сторонами света
								li Практика позволит вам не быть дезориентированными  в новых энергиях на Земле, развиваться и эволюционировать в унисон с Террой, максимально просто и быстро пройти перекалибровку на клеточном уровне
						.lesson#lesson_9
							h5.lesson_title Урок 9 - Лемурийские мастера, Плеядеанские Мастера
							ul.lesson_list
								li Активация 7-8 слоя ДНК, Лемурийское и Плеядеанское Мастерство
								li После практики начинает активироваться и проявляться ваше внутреннее Мастерство и знания, глубоко запечатанные в вас
						.lesson#lesson_10
							h5.lesson_title Урок 10 - Лемурийцы
							ul.lesson_list
								li Путешествие к жрецам-целителям и магам воды в город Телос – церемония исцеления при помощи древнего Лемурийского луча воды в сакральном храме Священных Вод
								li Получив эти знания и опыт вы сможете сами напрямую получать исцеление от Лемурийских жрецов-целителей, магов воды, а также открыть эти знания для своих родных и близких, сопровождать своих клиентов и проводить с Лемурийцами церемонии исцеления
						.lesson#lesson_11
							h5.lesson_title Урок 11 - Практические навыки для перемещения во временных капсулах
							ul.lesson_list
								li Вы научитесь перемещаться во временных капсулах, и сможете пользоваться этими знаниями
						.lesson#lesson_12
							h5.lesson_title Урок 12 - Бонусное - Внеземное воплощение, воплощение  Лемурия, Гиперборея
							ul.lesson_list
								li Вы вспомните свою жизнь вне Земли, жизнь в Лемурии, и если вы были в Гипербореи, то вы вспомните
								li Мы гарантируем, что эти воспоминания вспыхнут в вас настолько ярко и живо, что у вас даже не возникнет мысли, что это «нереально»
				p.plan_aftertext Пройдя этот курс, вы никогда больше не сможете быть прежними. Знания и опыты постепенно начнут многогранно активировать расширение вашего сознания, постепенно активировать вашу ДНК, вашу глубинную память и Мудрость, сокрытую в вас. Вы не сможете быть просто человеком, собственное внутреннее мастерство будет тихо напоминать вам о вашем бесконечном божественном Существе
		a.button.button_plan(href="#prices") Участвовать