section#main
	.container
		include ../course/header
		p.pre.pre_recs Записи интенсива
			small (внизу страницы)
		p.pre Авторский курс Ольги Ревковской
		h1.main_title Откройся своему Звёздному наследию
		.aut_n_date.main_aut_n_date
			p.aut_n_date_text Старт курса:
				span NN февраля, в 19:00 мск
		a.button.button_main(href="https://revkovskaya.mastervision.su/star-gates/course/" target="_blank") Участвовать