@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro.eot');
	src: url('../fonts/Intro.eot') format('embedded-opentype'),
		 url('../fonts/Intro.woff2') format('woff2'),
		 url('../fonts/Intro.woff') format('woff'),
		 url('../fonts/Intro.ttf') format('truetype'),
		 url('../fonts/Intro.svg#Intro') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'IntroBlack';
	src: url('../fonts/IntroBlack.eot');
	src: url('../fonts/IntroBlack.eot') format('embedded-opentype'),
		 url('../fonts/IntroBlack.woff2') format('woff2'),
		 url('../fonts/IntroBlack.woff') format('woff'),
		 url('../fonts/IntroBlack.ttf') format('truetype'),
		 url('../fonts/IntroBlack.svg#IntroBlack') format('svg');
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'IntroBoldAlt';
	src: url('../fonts/IntroBoldAlt.eot');
	src: url('../fonts/IntroBoldAlt.eot') format('embedded-opentype'),
		 url('../fonts/IntroBoldAlt.woff2') format('woff2'),
		 url('../fonts/IntroBoldAlt.woff') format('woff'),
		 url('../fonts/IntroBoldAlt.ttf') format('truetype'),
		 url('../fonts/IntroBoldAlt.svg#IntroBoldAlt') format('svg');
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu.eot');
	src: url('../fonts/Ubuntu.eot') format('embedded-opentype'),
		 url('../fonts/Ubuntu.woff2') format('woff2'),
		 url('../fonts/Ubuntu.woff') format('woff'),
		 url('../fonts/Ubuntu.ttf') format('truetype'),
		 url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UbuntuBold';
	src: url('../fonts/UbuntuBold.eot');
	src: url('../fonts/UbuntuBold.eot') format('embedded-opentype'),
		 url('../fonts/UbuntuBold.woff2') format('woff2'),
		 url('../fonts/UbuntuBold.woff') format('woff'),
		 url('../fonts/UbuntuBold.ttf') format('truetype'),
		 url('../fonts/UbuntuBold.svg#UbuntuBold') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'UbuntuLight';
	src: url('../fonts/UbuntuLight.eot');
	src: url('../fonts/UbuntuLight.eot') format('embedded-opentype'),
		 url('../fonts/UbuntuLight.woff2') format('woff2'),
		 url('../fonts/UbuntuLight.woff') format('woff'),
		 url('../fonts/UbuntuLight.ttf') format('truetype'),
		 url('../fonts/UbuntuLight.svg#UbuntuLight') format('svg');
	font-display: fallback;
	font-weight: 100;
	font-style: normal;
}

@import '../css/_css/bootstrap.min.css'

*
	margin 0
	padding 0
	outline none
body
	background-color #fff
	font-family: 'Ubuntu',sans-serif
	font-size: 18px
	color rgb(36, 36, 36);
a
	color: #fefefe
	&:focus
		outline: 0
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
.video_wrapper
	margin 0 auto
	position relative
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #fff
		border-radius 3px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.button
	display block
	text-align: center
	border: 2px solid rgb(255, 255, 255)
	border-radius: 5px
	background-color: rgb(254, 153, 0);
	box-shadow: 0px 4px 14.72px 1.28px rgba(0, 0, 0, 0.18);
	width 100%
	max-width: 170px;
	height: 50px;
	line-height: 46px;
	font-size: 16px;
	font-family: "UbuntuBold", sans-serif
	color: rgb(255, 255, 255);
	text-transform: uppercase
	transition: all .15 ease-in
	margin 0 auto
	&:focus
		color: rgb(255, 255, 255);
		background-color: rgb(254, 153, 0);
		text-decoration: none
	&:hover
		color: rgb(255, 255, 255);
		background-color: rgba(255,189,89, 1);
		text-decoration: none
#main
	width 100%
	background-color: #369ECB
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position:  center
	background-size: cover
	box-shadow: 0 0 65px 12px rgba(247,246,245,0.17) inset
	text-align: center
	padding-bottom: 60px
#header
	position relative
	z-index: 11
	padding 14px 0
	margin-bottom: 12px
#logo
	width 260px
	margin-top: 12px
	float left
.contacts
	float: right
	text-align: right
	display: table
.contact_cell
	display: table-cell
	vertical-align: middle
	a
		display block
		font-size: 16px;
		font-family: "Ubuntu";
		color: rgb(255, 255, 255);
		line-height: 22px;
		letter-spacing: 1.1px;
		&:focus
			color: rgb(255, 255, 255);
			text-decoration: none
		&:hover
			color: rgb(255, 255, 255);
			text-decoration: underline
.contact_cell_no_tels
	padding-left: 36px
.contact_cell_tels
	padding-left: 58px
	background-image url(../img/tel_icon.png)
	background-repeat no-repeat
	background-position: 1px center
	padding-right: 40px
.contact_cell_no_tels
	background-image url(../img/mail_icon.png), url(../img/skype_icon.png)
	background-repeat no-repeat, no-repeat
	background-position: 1px top, 27px bottom
.pre
	font-size: 24px;
	font-family: "IntroBoldAlt", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.2;
.main_title
	font-size: 42px;
	font-family: "Intro", sans-serif;
	color: rgb(181, 226, 251);
	line-height: 1.2;
	margin 5px 0 20px
.main_subtitle
	font-size: 22px;
	font-family: "IntroBoldAlt", sans-serif;
	color: rgb(255, 233, 46);
	line-height: 1.2;
	text-shadow: 0px 4px 22.32px rgba(1, 51, 76, 0.29);
	span
		display block
		font-size: 20px
		color rgb(255,255,255)
h3.main_subtitle_spof
	font-size: 20px
	span
		font-size: 24px
		margin 20px 0
		font-family: "Intro", sans-serif;
		text-shadow: 0 1px 10px rgba(0,0,0,.5)
.aut_n_date
	border-radius: 5px
	border 2px solid rgb(255, 255, 255);
	background-color: rgb(1, 71, 107);
	box-shadow: 0px 12px 15.66px 2.34px rgba(0, 0, 0, 0.35);
	width 100%
	max-width: 300px;
	padding 15px
	text-align: center
	margin 0 auto
.aut_n_date_text
	font-size: 20px;
	font-family: "IntroBoldAlt", sans-serif;
	color: rgb(253, 165, 33);
	line-height: 1.35;
	&:first-child
		margin-bottom: 8px
	span
		display block
		font-size: 18px;
		font-family: "Ubuntu";
		color: rgb(255, 255, 255);
		line-height: 1.2;
.main_spof_container
	max-width 450px
	margin-top: 10%
	padding 25px 20px
.price
	color #ffffff
	font-size: 24px
	margin 0 0 20px
	text-align: center
	span
		position relative
		&:after
			content: ''
			display block
			width: inherit
			height 4px
			position: absolute
			background-color: rgb(254, 153, 0);
			top 12px
			left 0
			right 0
			margin 0 auto
			transform: rotate(-14deg)
			opacity .85
.main_video_wrapper
	margin 30px auto 0
	max-width 560px
	box-shadow: 0 3px 5px rgba(0,0,0,.5)
.video_wrapper_spof
	margin-top: 0
.main_text_spof
	font-size: 18px
	margin-top: 20px
	line-height: 1.3
	color #fff
	text-shadow: 0 1px 1px rgba(0,0,0,.5)
	font-family: "IntroBoldAlt", sans-serif;
#feedback
	width 100%
	padding 60px 0
	min-height calc(100vh - 760px)
.general_title
	font-size: 30px;
	font-family: "Ubuntu";
	color: rgb(20, 61, 80);
	line-height: 1.2;
	text-align: center;
	margin-bottom: 40px
#vk
#fb
	background-color #fff
	border-radius: 10px
	box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.15);
#for
	width 100%
	padding: 60px 0
.for_list
	width 100%
	max-width 760px
	margin:  0 auto
	li
		list-style none
		padding-left 26px
		margin-bottom: 15px
		font-family: "Ubuntu";
		line-height: 1.2;
		background-image url(../img/romb_2.png)
		background-repeat no-repeat
		background-position 0 3px
		&:last-child
			margin-bottom: 0
#get
	width 100%
	padding 60px 0
	background-color: #1086bd;
	background-image: url("../img/happens_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
.get_container
	border-radius: 6px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 6px 7.44px 0.56px rgba(3,91,132,0.29);
	width: 100%;
	max-width: 860px;
	margin: 0 auto;
	position: relative;
	padding: 40px
.get_list
	list-style none
	counter-reset: my-counter;
	margin-bottom: 21px
	li
		counter-increment: my-counter;
		color: rgb(36, 36, 36);
		line-height: 1.222;
		margin-bottom: 16px
		letter-spacing: 0.4px;
		&:last-child
			margin-bottom: 0
		&:before
			content: counter(my-counter)
			border-radius: 50%;
			background-color: rgb(2, 129, 188);
			box-shadow: 0px 2px 7.6px 0.4px rgba(0, 0, 0, 0.15)
			display inline-block
			margin-right: 10px
			width: 28px;
			height: 28px;
			line-height: 28px;
			font-size: 20px;
			font-family: "IntroBoldAlt", sans-serif;
			color: rgb(254, 153, 0);
			text-align: center
.price_get
	color #000
.spof_button_get
	max-width 280px
#last
	width 100%
	padding 60px 0
	text-align: center
.last_container
	max-width: 860px;
	margin: 0 auto;
	background-color: #01476b;
	box-shadow: 0px 10px 21.84px 2.16px rgba(0,0,0,0.2);
	padding: 40px 25px
	border-radius: 5px;
	color #fff
.last_text 
	font-size: 20px;
	font-family: "IntroBoldAlt", sans-serif;
	margin-bottom: 20px
.last_title
	font-size: 24px
	font-family: "Intro", sans-serif;
	color rgb(254, 153, 0);
.spof_button_last
	max-width 250px
	margin-top: 30px
#footer
	width 100%
	padding 28px 0 24px
	background-color: rgb(9, 71, 114);
	box-shadow: 0px 3px 33.6px 1.4px rgba(0, 0, 0, 0.13);
	text-align: center
	h5
		font-size: 24px;
		color: #fff
		line-height: 1.042;
		margin 0
		font-family: 'IntroBoldAlt'
	p
		font-size: 14px;
		font-family: "UbuntuLight",sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		text-align: center;
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 10px
		position relative
		width: 32px;
		height 32px
		line-height 32px
		background-color: #fda521
		border-radius: 50%
		font-size 18px
		.fa
			color rgb(9, 71, 114);
		&:hover
			background-color: rgb(9, 71, 114);
			box-shadow: 0 0 0 1px #fda521 inset
			.fa
				color #fda521
@media screen and (min-width 2295px)
	.container
		width 1400px
	#main
		padding-bottom: 90px
	#header
		margin-bottom: 55px
	.contact_cell a
		font-size: 20px
	.main_title
		margin: 20px 0 60px
	.main_video_wrapper
		margin-top: 60px
		max-width 800px
	.aut_n_date
		max-width 350px
	.aut_n_date_text
	.for_list li
	.get_list li
		font-size: 22px
	.aut_n_date_text span
	.last_text
		font-size: 24px
	#feedback
		padding 90px 0
	.soc_buttons a
		width: 45px
		height 45px
		line-height 45px
		font-size: 24px
	#footer p
		font-size: 18px
	.main_title_spof
		margin-bottom: 20px
	.main_spof_container
		max-width: 450px;
	.main_text_spof
		font-size: 22px;
		margin-top: 40px
	.video_wrapper_spof
		margin-top: 0
@media screen and (max-width 1199px)
	.main_spof_container
		margin-top: 7%
@media screen and (max-width 991px)
	.contact_cell_tels
		padding-right: 20px
	.main_spof_container
		margin-top: 0
@media screen and (max-width 767px)
	#logo
		display block
		width 200px
		float: none
		margin 0 auto 10px
	.contacts
		float: none
		display block
		width 100%
		max-width 433px
		margin 0 auto
	#main
		padding-bottom: 40px
	#feedback
	#for
	#get
	#last
		padding 40px 0
	#vk
		margin-bottom: 25px
	#footer
		padding 20px 0
	.main_spof_container
		margin-top: 30px
@media screen and (max-width 485px)
	#main
		padding-bottom: 30px
	.contact_cell
		display block
		width 100%
		max-width 180px
		margin: 0 auto
		a
			font-size: 12px
			line-height: 12px
			text-align: center
			margin-bottom: 7px
	.contact_cell_tels
		padding-right: 0
		background-size: 30px
		max-width: 150px;
		padding-left: 40px;
	.contact_cell_no_tels
		background-size: 16px, 16px
		padding-left: 9px;
		background-position: 1px top, 8px bottom
	#header
		padding-bottom: 10px
	.pre
		font-size: 20px
	.main_title
		font-size: 28px
	#feedback
	#for
	#get
	#last
		padding 30px 0
	.feedback_title
	.general_title
		font-size: 24px
		margin-bottom: 25px
	#footer h5
		font-size: 20px
	.soc_buttons a
		margin 10px 8px
	#footer p
		font-size: 12px
	.get_container
	.last_container
		padding 30px
	.last_title
		font-size: 22px
@media screen and (max-width 380px)
	#header
		margin-bottom: 0
	.main_title
		font-size: 24px
		margin-bottom: 10px
	.aut_n_date
		padding 10px
	.main_video_wrapper
		margin-top: 20px
	.feedback_title
	.price
		font-size: 22px
	.video_wrapper_spof
		margin-top: 0
	.main_spof_container
		padding 15px
		margin-top: 15px
	.aut_n_date_text
		font-size: 18px
	.get_container, .last_container
		padding 20px
	.button
		font-size: 14px
	.last_title
		font-size: 20px
	.spof_button_get
		height: auto;
		line-height: 1.3;
		padding: 15px 10px;